.entryList {
  list-style: none;
}

.entryItem {
  border-bottom: 1px solid var(--color-line-default);
}

.entryLink {
  display: grid;
  width: 100%;
  cursor: pointer;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  column-gap: var(--space-4);
  padding: var(--space-2);
  text-align: left;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s;
}

.entryLink:hover {
  background-color: var(--color-surface-2);
}

.entryLinkActive {
  background-color: var(--color-surface-2);
}

.avatar {
  grid-row: span 2;
  height: 3rem;
  width: 3rem;
  border-radius: var(--radius-lg);
  padding: var(--space-2);
  background: linear-gradient(to right, var(--color-primary-500), var(--color-secondary-100));
}

.title {
  font-size: var(--text-base);
  font-weight: 500;
}

.username {
  font-size: var(--text-xs);
  color: var(--color-content-secondary);
}
