@import "tailwindcss";

@theme {
  /* unset Tailwind colors */
  --color-*: initial;

  /* Palette */

  --base: #121226;
  --brand: #345fff;
  --text: color-mix(in oklch shorter hue, var(--base) 60%, var(--brand) 70%);

  /* --- Background / Surface colors --- */

  /* App background */
  --color-surface-1: oklch(from var(--base) l c h / 1);

  /* Prinary surface (cards) */
  --color-surface-2: oklch(from var(--base) calc(l - 0.05) c h / 0.5);

  /* Secondary surface */
  --color-surface-3: oklch(from var(--base) calc(l + 0.05) c h / 1);

  /* Elevated surface / hover */
  --color-surface-4: oklch(from var(--base) calc(l + 0.4) c h / 0.1);

  /* Text / Content colors */
  --color-content-primary: oklch(from var(--text) calc(l + 0.4) c h / 1); /* Main content */
  --color-content-secondary: oklch(from var(--text) calc(l + 0.2) c h / 1); /* Descriptions */
  --color-content-muted: oklch(from var(--text) calc(l + 0.1) c h / 1); /* Hints, placeholders */
  --color-content-disabled: oklch(from var(--text) calc(l + 0) c h / 1); /* Disabled elements */
  --color-content-inverted: oklch(
    from var(--text) calc(l - 0.6) c h / 1
  ); /* Text on bright elements */

  /* Borders / Lines */
  --color-line-subtle: oklch(from var(--text) calc(l - 0.1) c h / 1);
  --color-line-default: oklch(from var(--text) calc(l + 0.1) c h / 1);
  --color-line-strong: oklch(from var(--text) calc(l + 0.3) c h / 1);

  /* Primary / Accent */
  --color-primary-100: oklch(from var(--brand) l c h / 1);
  --color-primary-300: oklch(from var(--brand) calc(l + 0.03) c h / 1);
  --color-primary-500: oklch(from var(--brand) calc(l + 0.05) c h / 1);
  --color-primary-700: oklch(from var(--brand) calc(l + 0.07) c h / 1);
  --color-primary-900: oklch(from var(--brand) calc(l + 0.09) c h / 1);

  /* Semantic / Feedback */
  --color-success-surface: oklch(from green calc(l + 0.1) c h / 1);
  --color-success-content: oklch(from green calc(l + 1) c h / 1);
  --color-success-line: oklch(from green calc(l + 0.5) c h / 1);

  --color-error-surface: #2a1216;
  --color-error-content: #ff6b6b;
  --color-error-line: #80333a;

  /* State overlays */
  --color-hover-overlay: oklch(from var(--base) calc(l + 0.4) c h / 0.5);
}

@layer base {
  html {
    color-scheme: dark;
  }

  html,
  body {
    @apply bg-surface-1 text-content-primary;
  }

  *,
  ::before,
  ::after {
    border-color: theme(--color-line-default);
    border-style: solid;
  }

  small {
    @apply text-content-secondary text-xs;
  }

  h1 {
    @apply text-3xl;
  }

  svg {
    @apply text-primary-100;
  }
}
