.space-y-md {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bgGradient {
  background: linear-gradient(to right, var(--color-primary-500), var(--color-secondary-100));
  color: var(--color-content-inverted);
}

/* Gradient border using pseudo-element */
.gradientBorder {
  position: relative;
  border: none;
  border-radius: var(--gradient-border-radius, inherit);
  background: var(--gradient-border-bg, var(--color-surface-2));

  &::before {
    position: absolute;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    inset: 0;
    border-radius: var(--gradient-border-radius, inherit);
    background: var(
      --gradient-border-line,
      linear-gradient(
        90deg,
        var(--color-line-default),
        var(--color-primary-500),
        var(--color-line-default)
      )
    );
    padding: var(--gradient-border-p, 1px); /* Border width */
    pointer-events: none;
    content: "";
  }
}
