.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  transition:
    background-color 0.2s,
    color 0.2s;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-3xl);
  font-weight: 500;
  text-decoration: none;
}

.button:focus-visible {
  outline: 2px solid var(--color-content-primary);
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Size variants */
.sm {
  padding: 0 var(--space-3);
  height: 2rem;
  font-size: var(--text-sm);
}

.sm svg {
  font-size: var(--text-xl);
}

.md {
  padding: 0 var(--space-4);
  height: 2.5rem;
  font-size: var(--text-sm);
}

.md svg {
  font-size: var(--text-xl);
}

.lg {
  padding: 0 var(--space-6);
  height: 3rem;
  font-size: var(--text-base);
}

.lg svg {
  font-size: var(--text-2xl);
}

/* Variant styles */
.primary {
  background: linear-gradient(to right, var(--color-primary-500), var(--color-secondary-100));
  color: var(--color-content-inverted);
}

.primary:focus-visible {
  outline-color: var(--color-content-primary);
}

.primary svg {
  color: var(--color-content-inverted);
}

.secondary {
  border: 1px solid var(--color-line-default);
  background-color: var(--color-surface-2);
}

.secondary:hover {
  background-color: var(--color-surface-4);
}

.secondary:focus-visible {
  outline-color: var(--color-primary-900);
}

.ghost {
  background-color: transparent;
}

.ghost:hover {
  background-color: var(--color-surface-4);
}

.ghost:focus-visible {
  outline-color: var(--color-primary-900);
}

.destructive {
  border: 1px solid var(--color-error-line);
  background-color: var(--color-error-surface);
  color: var(--color-error-content);
}

.destructive:hover {
  background-color: var(--color-error-line);
}

.destructive:focus-visible {
  outline-color: var(--color-error-line);
}

.destructive svg {
  color: var(--color-error-content);
}
