.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    border: 1px solid var(--color-line-default);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-2);
    padding: 1rem;

    legend {
      float: left;
      color: var(--color-content-secondary);
      font-size: var(--text-sm);
    }
  }

  .addBtn {
    align-self: flex-start;
    color: var(--color-primary-500);
  }

  .inputGroup {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.5rem;
  }
}

.error {
  color: #ef4444;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--space-4);
}
